<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-stroked-button
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
    >
      Home
    </button>
    &nbsp;
    <button
      routerLinkActive="router-link-active"
      mat-stroked-button
      routerLink="/about"
    >
      About
    </button>

    &nbsp;
    <button
      routerLinkActive="router-link-active"
      mat-stroked-button
      routerLink="/users"
    >
      Users
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex">
  <button mat-flat-button color="primary" (click)="fieldType = 'text'">
    Text
  </button>

  <button mat-flat-button color="primary" (click)="fieldType = 'date'">
    Date
  </button>

  <button mat-flat-button color="primary" (click)="fieldType = 'checkbox'">
    Checkbox
  </button>
</div>

<app-star-rating-field [formControl]="formCtrl"></app-star-rating-field>

<router-outlet></router-outlet>
