<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-stroked-button
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
    >
      Home
    </button>
    &nbsp;
    <button
      routerLinkActive="router-link-active"
      mat-stroked-button
      routerLink="/about"
    >
      About
    </button>

    &nbsp;
    <button
      routerLinkActive="router-link-active"
      mat-stroked-button
      routerLink="/users"
    >
      Users
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
